@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(cards.css);


html{
    scroll-behavior: smooth !important;
}

body{
 
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
    /* background-image: url(https://images.nightcafe.studio/jobs/ENnupW6SQLA1t24zwsvH/ENnupW6SQLA1t24zwsvH--0--avuef.jpg?tr=w-1600,c-at_max); */
    background-image: url(assets/space-bg.png);
    background-repeat: no-repeat;
    font-weight: 700;
    background-size: cover;             
    font-family: "Roboto", serif;
    background-attachment: fixed; 
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}


.cabecalho{
    padding: 2% 0 0 15%; 
}

.cabecalho_menu{
    display: flex; 
    gap: 80px; 


}

.cabecalho_link{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem; 
    width: 600;
    color: #FFFFFF; /* Branco para contraste */
    text-decoration: none; 
    padding: 5px 10px;
    transition: 0.3s;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black; 
}

.cabecalho_link:hover {
        color: #1C1C3A;
}






.apresentacao {
    margin: 3% 15%; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 82px; 
    min-height: 100vh; 
    background-image: url(assets/background-nave.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border: 3px solid rgba(255, 255, 255, 0.2);
    
}

.apresentacao_conteudo{
    display: flex; 
    width: 50%; 
    flex-direction: column; 
    gap: 40px; 
    
}

.apresentacao_conteudo_titulo{
    font-family: 'Orbitron', sans-serif; 
    font-size: 3rem; 
    color: #FFFFFF;
    text-shadow: 0 0 2px #00FFFF, 0 0 20px #00FFFF; 
    text-align: center; 
    padding: 30px;
    margin-bottom: 20px;
    animation: pulse 2s infinite;

    
    
}
.apresentacao_conteudo_p{
    
    font-size: 2rem; 
    font-weight: 500;
    text-align: center;
    color: #FFFFFF; 

    padding: 10px 20px; 
    line-height: 1.8; 
    text-align: justify;
    font-family: "Orbitron", serif;

    width: 90%; 
    margin: 10px auto; 
    line-height: 1; 
    text-align: center;
    margin: 0 auto;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black; 

}
h3{    
    font-family: "Orbitron", serif;
    font-size: 1px !important;
    line-height: 1; 
    text-align: center;
    font-weight: 1000;
}
@keyframes pulse {
        0%, 100% {
      text-shadow: 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF;
    }
        50% {
      text-shadow: 0 0 30px #FF4500, 0 0 50px #FF4500, 0 0 60px #FF4500;
    }
}
#mobile_card{
    display: none;
}


.botoes{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    gap: 32px; 
}
.botoes_links{

    background: linear-gradient(90deg, #00FFFF, #1C1C3A);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 23px 20px;
    width: 40%; 
    text-align: center; 
    text-decoration: none; 
    box-shadow: 0 0 10px #00FFFF;
    cursor: pointer;
    transition: 0.3s;

}




  
  .apresentacao_sub:hover {
    color: #FFFFFF; 
    text-shadow: 1px 1px 20px #0b0d9c;
  }
.apresentacao_sub{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black; 
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

.botoes_links:hover{
    background: #1C1C3A;
    box-shadow: 0 0 20px #00FFFF;
    transform: scale(1.05);
}

.apresentacao_img-desktop{
    width: 50%;
    height: 50%;
    padding-top: 21%;
 
}

.rodape{
    padding: 1px; 
    color:rgb(136, 136, 153);
    text-align: center; 
    font-family: "Montserrat", serif; 
    font-size: 1rem; 
}
.rodape:hover{
    color: beige;
}




button {
    background: linear-gradient(90deg, #00FFFF, #1C1C3A);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 10px #00FFFF;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #1C1C3A;
    box-shadow: 0 0 20px #00FFFF;
    transform: scale(1.05);
  }

  .apresentacao_conteudo_p_sobre{  
    font-size: 2.3rem; 
    text-align: center;
    color: #FFFFFF; 

    padding: 10px 20px; 
    line-height: 1.8; 
    text-align: justify;
    font-family: "Orbitron", serif;

    width: 90%; 
    margin: 10px auto; 
    line-height: 1; 
    text-align: center;
    margin: 0 auto;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black; 



}
.apresentacao_img-mobile{
    display: none;
}


.botoes_links{
    padding: 0;
    font-size: 0px;
    border: 1px;

}

.card-mobile{
    display: none;
}

.apresentacao__mobile{
    display: none;
}

.cabecalho_mobile{
    display: none;
}
@media (max-width: 1200px){

    body{
        background-image: url(assets/space.mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 95vh;
      

    }
    h4{
        display: none;
    }
    .cards-container{
        display: none;
    }
    .cabecalho_mobile{
        display: block;
    }
    .apresentacao__mobile{
        display: block;
    }
    .cabecalho{
        display: none;
    }
    #mobile_card{
        display: block;
    }
    .cabecalho_menu{
        justify-content: center;
        gap: 17px; 
    }

    .fa-solid {
        font-size: 34px;
        color: rgb(100, 150, 255);
      }
    .moba{
        width: 70px;
   }

    .apresentacao {
        display: none;
    }     
.apresentacao__mobile{
    background-image: url(assets/rocket-mobile.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 90vh;
      
  width: 84%;
  max-width: 1200px; 
  margin: auto auto; 
  padding: 30px; 
  border-radius: 20px; 
  overflow: hidden;
  border: 3px;
  animation: brilhoNeon 1.5s infinite alternate;
}


@keyframes brilhoNeon{
    0%{
        box-shadow: 0 0 10px #020f55;
    }
    100%{
        box-shadow: 0 0 10px #0078be, 0 0 20px #020f55;
    }

}
.apresentacao_conteudo_titulo{
    font-size: 2rem;
    

}
    
.apresentacao_conteudo_p{
    font-size: 1.5rem ;
    font-family: "Orbitron", serif;
    font-weight: 600;
  
  
 
}



.botoes_links{
    border-radius: 8px;
    background: linear-gradient(90deg, #025858f5, #1c1c3aa8);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #00FFFF;
    cursor: pointer;
    transition: 0.3s;
    
}



.botoes{
    gap: 8px;

}
    
 .foto-moba{
    display: flex;
    width: 168%;
    
}
    
}

.starfall-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent; 
    z-index: -1; 
    pointer-events: none; 
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    animation: fall linear infinite;
    opacity: 0.8; 
}
@keyframes fall {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

